* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}



.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

:root {
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
 max-width: 12  00px;
max-width: 12  00px;
max-width: 12 00px;
overflow: hidden;
margin: auto;
padding: 60px 0;
}

.header {
    z-index: 1;
    width: 100%;
    height: 550px;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url(img/nueve.jpg);
    background: linear-gradient(to right, rgba(251, 194, 235, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url(img/nueve.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    animation: movimiento 25s infinite linear alternate;    
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}    

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}


.menutodo{
   
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menutodo:hover {
    background-image: linear-gradient(120deg, rgb(102, 166, 255) 0%, #66a6ff 100%);
    
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.menu-navegacion:hover{
    background: rgb(102, 166, 255);
}



.titulo{
    color: #fff;
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Services */
.ServicesConten{
    background: #000000;

}
.contenedor{
    color: rgba(255, 251, 251, 0.75);
}
.subtitulo{
    color: rgb(9, 56, 156);
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.n-service{
    font-size: 25px; 
    color: #9f8ad0;
    margin-bottom: 7px;
}

.service{
    font-size: 20px;
    color: ivory;
    margin-bottom: 20px;
    
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #5c35b8 0%, #fbc2eb 100%);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-weight: 700;
}

.gallery{
   
    background: rgb(0, 0, 0);
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

/*.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}*/

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgb(102, 166, 255);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}

.color{
    background: rgb(0, 0, 0);
}



.fundadores{
     box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
	position: relative;
	width: 100%;
	margin-top: 50px;
	height: 20vh;
   
}
.fundadores > h2{
	position: absolute;
	top: -50px;
	width: inherit;
	display: flex;
	justify-content: center;
	z-index: 10;
	font-size: 40px;
	font-weight: 500;
	color: rgb(0, 0, 0);
}
.content-fundadores{
    background: rgb(0, 0, 0);
	display: flex;
	width: 100%;
	height: 115%;
}
.fundadores .nico-container{
	position: relative;
	flex-grow: 1;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: rgb(128, 129, 133);
	cursor: pointer;
}
.fundadores .nico-container:hover{
	flex-grow: 5;
}
.fundadores .nico-container .card{
	max-width: 300px;
	text-align: center;
	transition: 0.5s;
}
.nico-container .card .clara-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin:0 auto;
}
.nico-container .card .clara-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.nico-container .card h2{
	margin:1px 0px;
	color: #fff;
	font-weight: 750;
}


/******** Oscar Fundador *********/
.fundadores .oscar-container{
	position: relative;
	flex-grow: 1;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #270bc8;
	cursor: pointer;
}
.fundadores .oscar-container:hover{
	flex-grow: 5;
}
.fundadores .oscar-container .card{
	max-width: 300px;
	text-align: center;
	transition: 0.5s;
}
.oscar-container .card .oscar-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin:0 auto;
}
.oscar-container .card .oscar-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.oscar-container .card h2{
	margin:1px 0px;
	color: #fff;
	font-weight: 300;
}


/*.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}*/
.Contenedor{
    
    background: rgb(0, 0, 0);

}
.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 100%;
}

.n-expert{
    color: rgb(235, 236, 236);
    font-size: 30px;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    font-weight: 400;
}

footer{
    background: rgb(27, 66, 92);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}